body{
    padding: 0;
    margin: 0; 
   background-color: pink;
}
.big_body{
    display: flex;
    justify-content: center;
}
.signup-container{ 
    display: flex;
    justify-content: center;  
    margin: 20px;
} 
.hidden-form{ 
    display: none;
    justify-content: center;  
    margin: 20px;
} 
.signup-form,.login-form{   
    padding: 20px; 
    background: transparent;
    border-radius: 20px; 
    margin: 15px;
    width: 300px; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
}
label{
    font-size: 15px;
}
input[type=text],input[type=number],input[type=email],input[type=password]{
    width: 95%;  
    padding: 7px; 
    border-radius: 10px;
    margin-top: 10px;
    background: transparent;
}
input[type=checkbox]{ 
    border-radius: 50%;
}
input[type=submit]{
    width: 100%;
    padding: 10px; 
    margin-top: 5px;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}
input[type=submit]:hover{
    opacity: 0.8;
}
.pp{
    text-align: center;
}  